<li class="l-section section ">
  <div class="contact inner-section">
    <div class="contact-section">
      <div class="contact-left">
      <p><span></span>Call: <a href="tel:{{contactData.number1}}">{{contactData.number1}}</a></p>
      <p><span></span>Call: <a href="tel:{{contactData.number2}}">{{contactData.number1}}</a></p>
      <p><span></span>Email: <a href="mailto:{{contactData.email}}">{{contactData.email}}</a></p>
      <p><span></span>{{contactAddress.doorno}}<br/> {{contactAddress.street}}<br/>{{contactAddress.area}}<br/>{{contactAddress.city}}</p>
      <ul class="social-links">
        <li class="facebook-icon"><a href="{{socialLink.facebook}}" title="Facebook" target="_blank">Facebook</a></li>
        <li class="twitter-icon"><a href="{{socialLink.twitter}}" title="Twitter" target="_blank">Twitter</a></li>
        <li class="google-icon"><a href="{{socialLink.google}}" title="Google+" target="_blank">Google+</a></li>
        <li class="skype-icon"><a href="#" title="Skype" target="_blank">Skype</a></li>
      </ul>
      </div>  
      <div class="contact-right">
      <form>
        <div class="form-row">
          <input type="text" placeholder="Name">
        </div>
        <div class="form-row">
          <input type="tel" placeholder="Mobile Number">
        </div>
        <div class="form-row">
          <input type="email" placeholder="Email">
        </div>
        <div class="form-row">
          <textarea placeholder="Message"></textarea>
        </div>
        <div class="form-row submit-form">
          <input type="submit" value="Send">
        </div>
      </form>
      </div> 				
    </div> 				
  </div>
</li>