<li class="l-section section ">
  <div class="contact inner-section">
    <div class="contact-section">
      <div class="contact-left">
      <p><span></span>Call: <a href="tel:+919043512898">+919043512898</a></p>
      <p><span></span>Call: <a href="tel:+919043512898">+919043512898</a></p>
      <p><span></span>Email: <a href="mailto:whymeebala@gmail.com">whymeebala@gmail.com</a></p>
      <p><span></span>#71/29,<br/> Sivasubramaniayasami koil street,<br/>Saidapet,<br/>Chennai - 15</p>
      <ul class="social-links">
        <li class="facebook-icon"><a href="#" title="Facebook">Facebook</a></li>
        <li class="twitter-icon"><a href="#" title="Twitter">Twitter</a></li>
        <li class="google-icon"><a href="#" title="Google+">Google+</a></li>
        <li class="skype-icon"><a href="#" title="Skype">Skype</a></li>
      </ul>
      </div>  
      <div class="contact-right">
      <form>
        <div class="form-row">
          <input type="text" placeholder="Name">
        </div>
        <div class="form-row">
          <input type="tel" placeholder="Mobile Number">
        </div>
        <div class="form-row">
          <input type="email" placeholder="Email">
        </div>
        <div class="form-row">
          <textarea placeholder="Message"></textarea>
        </div>
        <div class="form-row submit-form">
          <input type="submit" value="Send">
        </div>
      </form>
      </div> 				
    </div> 				
  </div>
</li>