<li class="l-section section ">
  <div class="portfolio inner-section">
      <ul>
          <li>
            <a href="#"><img src="assets/img/port1.jpg" alt="port-img"></a>
            <h4><a href="#">Title name</a></h4>
          </li>
          <li>
            <a href="#"><img src="assets/img/port2.jpg" alt="port-img"></a>
            <h4><a href="#">Website</a></h4>
          </li>
          <li>
            <a href="#"><img src="assets/img/port3.jpg" alt="port-img"></a>
            <h4><a href="#">Title name</a></h4>
          </li>
          <li>
            <a href="#"><img src="assets/img/port3.jpg" alt="port-img"></a>
            <h4><a href="#">Title name</a></h4>
          </li>
          <li>
            <a href="#"><img src="assets/img/port1.jpg" alt="port-img"></a>
            <h4><a href="#">Title name</a></h4>
          </li>
          <li>
            <a href="#"><img src="assets/img/port2.jpg" alt="port-img"></a>
            <h4><a href="#">Title name</a></h4>
          </li>
      </ul>
  <p class="port-view-all"><a class="cta" href="portfolio.html" title="View All">View All</a></p>
  </div>
</li>