<li class="l-section section ">
  <div class="services inner-section">
    <div class="services-left">
       <img src="assets/img/solution-img.png" alt="solution-img">
    </div>
    <div class="services-right">
     <h2>Our Services</h2>
      <ul>
        <li><span>Website</span>Make your business with effective and optimized website</li>
        <li><span>Technologies</span>HTML5 & CSS3, Sass, Javascript, and Jquery</li>
        <li><span>Framework</span>Wordpress, Bootstrap</li>
        <li><span>AngularJS</span></li>
      </ul>
    </div>
    <div class="services-bottom">We are always ready to make a effective animated website for you</div>
  </div>
</li>
