<li class="l-section section ">
  <div class="about inner-section">
    <div class="about-image">
      <img src="assets/img/abt-img.png" height="480px" width="480px" alt="abtimg">
    </div>
    <p class="about-quote">We are design and developing the effective animated website with responsive design that adopt the latest web technologies</p>
    <p class="about-quote2">I have 5 years of working experience in website design & development</p>
    <p class="about-quote3">Major Clients interested to build their websites with Wordpress CMS</p>
  </div>
</li>