<li class="l-section section section--is-active">
    <div class="home inner-section">
      <h1>{{homedata.title}}</h1>
      <h3>{{homedata.subtitle}}</h3>
      <p>{{homedata.content}}</p>
      <p><a href="tel:{{homedata.number}}" class="contact-num" title="Call Me">{{homedata.number}}</a> &nbsp;<a href="tel:{{homedata.altnumber}}" class="contact-num" title="Call Me">{{homedata.altnumber}}</a></p>
      <p><a id="cta" class="cta" routerLink="contact" title="Pick Me">Pick Me</a></p>
    </div>
  </li>