<li class="l-section section section--is-active">
    <div class="home inner-section">
      <h1>{{homeData.title}}</h1>
      <h3>{{homeData.subtitle}}</h3>
      <p>{{homeData.content}} <br/> {{homeData.content2}}</p>
      <p><a href="tel:{{homeData.number}}" class="contact-num" title="Call Me">{{homeData.number}}</a> &nbsp;<a href="tel:{{homeData.altnumber}}" class="contact-num" title="Call Me">{{homeData.altnumber}}</a></p>
      <p><a id="cta" class="cta" routerLink="contact" title="Pick Me">Pick Me</a></p>
    </div>
  </li>