<div class="dynamic-bg" style="background:linear-gradient(to bottom left,#555,#000);"></div>
<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" routerLink="">
    <img src="assets/img/logo-whymee-white.png" alt="Whymee">
  </a>
  <p class="device-notification--message">Whymee has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" routerLink="">
           <img src="assets/img/logo-whymee-white.png" alt="Whymee">
          </a>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active" routerLink=""><span>Home</span></li>
            <li routerLink="about"><span>About</span></li>
            <li routerLink="service"><span>Services</span></li>
            <li routerLink="portfolio"><span>Portfolio</span></li>
            <li routerLink="contact"><span>Contact</span></li>
          </ul>
          </nav>
          <ul class="l-main-content main-content">
            <!--<router-outlet></router-outlet>-->
            <app-home></app-home>
            <app-about></app-about>
            <app-service></app-service>
            <app-portfolio></app-portfolio>
            <app-contact></app-contact>
        </ul>
      </div>
    </div>
  </div>
<ul class="outer-nav">
	<li class="is-active"><a href="index.html">Home</a></li>
	<li><a href="about.html">About Mee</a></li>
	<li><a href="services.html">Services</a></li>
	<li><a href="portfolio.html">Portfolio</a></li>
	<li><a href="blog.html">Blog</a></li>
</ul>
</div>  


